body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.main-title {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
  background-color: darkgreen;
  color: yellow;
}

.main-nav {
  background: yellow;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: auto;
  max-width: 700px;
}

.scramble-warning {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: red;
  color: white;
}
.main-nav-list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.main-nav-list > li {
  padding: 2px 5px 2px 5px;
}

.news-wrap,
.tournament-wrap,
.leaderboard-wrap {
  margin: auto;
  padding: 1px;
  max-width: 700px;
}

.table-header {
  position: relative;
}

.odd {
  background-color: #e9e8e8;
}

.tour-list-name {
  font-weight: 600;
}

.leaderboard-tour-name {
  font-weight: 600;
  font-size: 1.3rem;
}

td,
th {
  padding: 5px 2px 5px 2px;
  text-align: left;
  border-width: 0;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: solid;
  margin: auto;
}

th {
  color: white;
  background-color: #00284b;
  font-size: 0.8rem;
}

.news-article,
.news-date {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
